<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Secure Page</title>
  </head>
  <body>
   
   <div class="container">

    <div class="jumbotron">
        <h1>secured page</h1>
        <form name="fetch-customers" th:action="@{/customers}" th:formmethod="POST">
            <button type="submit" class="btn btn-primary">customers</button>
        </form>
         <br></br>
        <form name="logout" th:action="@{/logout}" th:formmethod="GET">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>

	<!-- <div th:unless="${logout==null}">
		<span  th:text="${logout}"></span>
	</div> -->


    <div th:unless="${error==null}">
        <table class="table">
            <thead>
            <tr>
                <td>Status code</td>
                <td>Error</td>
            </tr>
            </thead>

            <tr>
                <td><span th:text="${error.statusCode}"></span></td>
                <td><span th:text="${error.body}"></span></td>
            </tr>
        </table>
    </div>


    <div th:if="${error==null and logout==null}" >
        <table class="table">

            <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>DL number</td>
                <td>Address</td>
                <td>Mobile No</td>
            </tr>
            </thead>

            <tbody>

            <tr th:each="customer: ${customers}">
                <td><span th:text="${customer.firstName}"></span></td>
                <td><span th:text="${customer.lastName}"></span></td>
                <td><span th:text="${customer.dlNumber}"></span></td>
				<td><span th:text="${customer.address}"></span></td>
				<td><span th:text="${customer.mobileNo}"></span></td>
            </tr>

            </tbody>

        </table>
    </div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>